.sidebar {
    z-index: 100;
    position: relative;
    width: 260px;
    height: 100vh;
    background-color: var(--bg-sidebar);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    top: 0;
}

.sidebar-logo {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 48px;
    letter-spacing: -1px;
}

.sidebar-logo span {
    color: var(--primary);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.nav-item {
    width: 100%;
    cursor: pointer !important;
    pointer-events: auto !important;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    color: var(--text-muted);
    border-radius: var(--radius);
    transition: var(--transition);
    font-size: 15px;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

.nav-item.active {
    background-color: var(--primary);
    color: white;
}

.sidebar-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.logout-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    background: none;
    border: none;
    color: #fb7185;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
    border-radius: var(--radius);
    transition: var(--transition);
}

.logout-btn:hover {
    background-color: rgba(251, 113, 133, 0.1);
}




@media (max-width: 1024px) {
    .sidebar {
        width: 80px;
        padding: 20px 10px;
        align-items: center;
    }

    .sidebar-logo,
    .nav-item span,
    .logout-btn span {
        display: none;
    }

    .nav-item {
        justify-content: center;
        padding: 12px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}